/* paleta de colores
#FFB534 = naranjo
#C1F2B0 = verde claro
#65B741 = verde claro intenso
*/

/* header */
/* .encabezado{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 1000;
    background-color: #f8ffb8;
}

.encabezado a{
    color: blue;
    text-decoration: solid;
}

.encabezado img{
    width: 100px;
} */

/* div ul li{
    border: black solid 2px;
    margin-right: 10px;
} */

/* banner */
/* .space{
    margin-top: 100px;
    width: 100%;
}

.presen{
    text-align: center;
} */

/* footer */
/* .pie_pag{
    background-color: blueviolet;
    width: 100%;
    height: 250px;
}

.pie_pag img{
    width: 50px;
} */

/* columna en contcto */
/* .pie_pag_contac{
    background-color: aqua;
    width: 100%;
}
.pie_pag_contac img{
    width: 200px;
} */

